# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Virtual environments
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
TEST_MATRIX.md
src/yololabeler/annotator_v1_backup.py
src/yololabeler/annotator_v2_backup.py
src/yololabeler/annotator_v3_backup.py
CSV_text_file_converter.ipynb
AUDIT.md
